<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="image/x-icon" rel="shortcut icon" href="/assets/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/assets/style.css">
    <title>{{ .title }}</title>
</head>

<body>
    <!-- Layout was forced before the page was fully loaded. -->
    <!-- If stylesheets are not yet loaded this may cause a flash of unstyled content. -->
    <script>0</script>

    <main>
        <header>
            <h1><img alt="Peephole" src="/assets/peephole.png" /> {{ .title }}</h1>
        </header>

        <p class="loading">...</p>
        <ul class="event-list">
            <!-- <li>
                <div class="event">
                    <span class="minion">minion-id</span>
                    <span class="function">highstate</span>
                    <a class="show" onclick="dialog(123456789)">show</a>
                </div>
            </li> -->
        </ul>
    </main>

    <script type="text/javascript" src="/assets/index.js" defer></script>
</body>

</html>