<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="image/x-icon" rel="shortcut icon" href="/assets/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/assets/style.css">
    <title>Peephole</title>
</head>

<body>
    <!-- Layout was forced before the page was fully loaded. -->
    <!-- If stylesheets are not yet loaded this may cause a flash of unstyled content. -->
    <script>0</script>

    <main>
        <header>
            <h1><img alt="Peephole" src="/assets/peephole.png" /> Peephole</h1>
            <div class="pager">
                <button class="left disabled" onclick="prevEvents()"></button>
                <span></span>
                <button class="right disabled" onclick="nextEvents()"></button>
            </div>
            <span class="liveness">live</span>
        </header>

        <div class="search">
            <input onkeyup="search()" placeholder="type to search...">
            <button onclick="searchWipe()"></button>
        </div>

        <p class="loading">...</p>
        <ul class="event-list"></ul>
    </main>

    <script type="text/javascript" src="/assets/index.js" defer></script>
</body>

</html>