html {
  --primary: #d5d5d5;
  --darker: #a6a4a4;
  --primary-bg: #282828;
  --darker-bg: #202020;
  --darkest-bg: #141414;
  --alert: #ff6969;
  --alert-darker: #463434;
  --success: #a8c587;
  --failure: #dd7c7c;

  color: var(--primary);
  background-color: var(--primary-bg);
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  overflow-x: clip;
}

main {
  max-width: 750px;
  margin: auto;
  padding: 20px;
}

div.search button {
  border-radius: 7px;
  font-family: monospace;
  color: var(--darker);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: medium none;
  background-color: var(--primary-bg);
  width: 25px;
  height: 25px;
  font-size: 1.5em;
  line-height: 0;
}

div.search button::after {
  content: "\2a2f";
}

header {
  margin: 50px auto;
  position: relative;
}

header h1 {
  text-indent: 60px;
  text-shadow: 1px 2px 0 var(--darker-bg);
}

header img {
  position: absolute;
  left: 0;
  width: 40px;
}

header div.control-panel {
  position: absolute;
  right: 0;
  width: 200px;
  height: 50px;
  top: 0;
  border: 1px solid var(--darker-bg);
  border-radius: 30px;
  transform: translateY(-8px);
}

header div.control-panel div.pager {
  width: 55%;
  border-right: 1px solid var(--darker-bg);
  height: 100%;
}

header div.control-panel div.pager span {
  color: var(--darker);
  padding: 5px;
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 55px;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 0 var(--darkest-bg);
  opacity: 75%;
}

div.search button:hover {
  background-color: var(--darker-bg);
  cursor: pointer;
}

header div.control-panel div.pager button {
  border-radius: 50%;
  font-family: monospace;
  color: var(--darker);
  border: medium none;
  background-color: var(--darker-bg);
  width: 25px;
  height: 25px;
  font-size: 1.5em;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header div.control-panel div.pager button::after {
  position: absolute;
  top: calc(50% - 2px);
}

header div.control-panel div.pager button.left {
  left: 10px;
}

header div.control-panel div.pager button.left::after {
  content: "\2190";
  left: 5px;
}

header div.control-panel div.pager button.right {
  left: 75px;
}

header div.control-panel div.pager button.right::after {
  content: "\2192";
  right: 5px;
}

header div.control-panel div.pager button:hover {
  background-color: var(--primary-bg);
  cursor: pointer;
}

header div.control-panel div.liveness span {
  text-transform: uppercase;
  color: var(--alert);
  text-shadow: 1px 2px 0 var(--darker-bg);
  animation: blinker 3s linear infinite;
  float: right;
  display: list-item;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em;
  padding: 10px 15px;
  list-style-position: inside;
}

div.search {
  position: relative;
}

div.search input {
  background-color: var(--darker-bg);
  border: none;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary);
}

p.loading {
  text-align: center;
  font-size: 1.5em;
  color: var(--darker);
}

div.event-dialog {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  background-color: var(--darker-bg);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;

  /* animation */
  z-index: 0;
  opacity: 0%;
  transition: opacity 100ms 100ms ease, z-index 100ms 100ms ease;
}

div.event-dialog.show {
  z-index: 10;
  opacity: 100%;
  transition: opacity 100ms 100ms ease;
}

div.event-dialog a.dismiss {
  position: absolute;
  top: 30px;
  right: 30px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--primary-bg);
}

div.event-dialog a.dismiss:hover {
  cursor: pointer;
  background-color: var(--darker-bg);
}

div.event-dialog pre {
  padding: 20px;
  font-family: monospace;
}

div.event-dialog pre span.key {
  color: #ddd;
}

div.event-dialog pre span.string {
  color: lightblue;
}

div.event-dialog pre span.number {
  color: lightgoldenrodyellow;
}

div.event-dialog pre span.boolean.success {
  color: var(--success);
}

div.event-dialog pre span.boolean.failure {
  color: var(--alert);
  text-decoration: underline;
}

div.event-dialog pre span.date {
  color: brown;
}

div.event-dialog pre span.null {
  color: gray;
}

div.event-dialog pre span.version {
  color: blue;
}

div.event-dialog pre span.container {
  color: gray;
  white-space: pre;
  user-select: text;
}

ul.event-list {
  list-style-type: none;
  padding: 0;
}

ul.event-list li {
  background-color: var(--darker-bg);
  padding: 15px;
  margin-top: 3px;
}

ul.event-list li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul.event-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul.event-list li div.event {
  position: relative;
  text-shadow: 1px 1px 0 var(--darker-bg);
  padding: 5px;
}

ul.event-list li div.event span {
  display: block;
}

ul.event-list li div.event span.function pre {
  color: var(--darker);
  text-transform: lowercase;
}

ul.event-list li div.event span.function *,
ul.event-list li div.event span.caption * {
  display: inline;
}

ul.event-list li div.event span.caption pre {
  font-size: 1.2em;
}

ul.event-list li div.event span.caption,
ul.event-list li div.event a.show {
  color: var(--darker);
}

ul.event-list li div.event span.function {
  padding-top: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
}

ul.event-list li div.event a.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--darker-bg);
}

ul.event-list li div.event a.show:hover {
  cursor: pointer;
  background-color: var(--primary-bg);
}

header div.control-panel div.liveness.dead span {
  display: block;
  right: 10px;
  color: var(--darker);
  animation: none;
}

.spacer {
  color: var(--primary-bg);
}

.gone {
  display: none;
}

.disabled {
  opacity: 25%;
  filter: brightness(0.25);
}

.success {
  color: var(--success);
}

.failure {
  color: var(--failure);
}

@keyframes blinker {
  50% {
    opacity: 0%;
  }
}
